*{
    margin: 0;
    padding: 0;
}
.contact{
    width:200vh;
    text-align: center;
    background-color:black;
    color:white;
    font-family: sans-serif;
    
}
.add{
    margin-top: 50px;
}
.name{
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 30px;
}
#name-op{
    width:180vh;
    height:30px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#email-op{
    width:180vh;
    height:30px;
    font-size: 20px;
    margin-top: 10px;
}
.box{
    margin-left: 30px;
}
.submit{
    width:100px;
    height:50px;
    background-color: blue;
    color: white;
    font-family: sans-serif;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 20px;
    border:none;
}
.line{
    width:180vh;
    height:2px;
    background-color: grey;
    margin-top: 20px;
    margin-left: 30px;
}
.details-bars{
    width:180vh;
    height:50px;
    font-size: 20px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px white;
    margin-left: 30px;
    background-color: gray;
}
.delete{
    width:100px;
    height:50px;
    border-color: red;
    color:red;
    border-radius: 10px;
    background-color: white;
}